<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tour details</title>
</head>
<body>


    <ul>
        {{#each details}}
        
                    <img src="{{img}}" alt="Trip Image">
                    <p>Destination: {{destination}}</p>
                    <p>Number of Days: {{no_of_days_in_trip}}</p>
                    <p>Price: {{price}}</p>
                    <p>Deadline: {{deadline}}</p>
                    <p>Description: {{discription}}</p>
                    <p>{{date_of_posting}}</p>
                    
                    <a href="/tourist/">go back</a>

                    {{!-- <form action="/register/{{id}}/" method = "post"> --}}
                    {{!-- <form action="/register/" method = "get"></form>
                    <button>register</button>
                    </form> --}}
                    <form action="/register/" method="get">
                        <input type="hidden" name="id" value="{{id}}">
                        <button type="submit">register</button>
                    </form>
                
            </form>

        {{/each}}
    </ul>
</body>
</html>
