<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tourist landing page</title>
</head>
<body>

{{#if message}}
<h1>{{message}}</h1>
{{/if}}

    <h1>Trips</h1>
    <ul>
        {{#each trips}}
            
                    <img src="{{img}}" alt="Trip Image">
                    <p>Destination: {{destination}}</p>
                    <p>Number of Days: {{no_of_days_in_trip}}</p>
                    <p>Price: {{price}}</p>
                    <p>Deadline: {{deadline}}</p>
                    <!-- Hidden input field to store the trip ID -->
                    <input type="hidden" name="trip_id" value="{{id}}">
                    <a href="/tourist/{{id}}/"> go to details</a>
                    <br>
                    <br>
            


        {{/each}}
    </ul>
        
</body>
</html>
